*{
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Comfortaa, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a{
    color: inherit;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group-rule {
    margin-bottom: 15px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}

.form-container h2 {
    text-align: center;
    /*margin-bottom: 20px;*/
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.form-container input[type="submit"] {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #4cae4c;
}

.form-container .form-group input[type="checkbox"] {
    margin-right: 5px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.menu a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu a:hover {
    color: #007bff;
}